section
  h1 Lorem ipsum dolor sit amet
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nobis blanditiis iusto error necessitatibus optio placeat, excepturi ab ullam quos.

  .features
    .line
    .feature-item(data-id="1")
      p <i class="fa fa-anchor" aria-hidden="true"></i>
    .feature-item(data-id="2")
      p <i class="fa fa-eye" aria-hidden="true"></i>
    .feature-item(data-id="3")
      p <i class="fa fa-code" aria-hidden="true"></i>
    .feature-item(data-id="4")
      p <i class="fa fa-diamond" aria-hidden="true"></i>
    .feature-item(data-id="5")
      p <i class="fa fa-eyedropper" aria-hidden="true"></i>
      
  .feature-descriptions
    .description#description-1
      h2 Description 1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sed, quod. Molestiae voluptatum dignissimos quibusdam quidem placeat, qui nihil autem.
    .description#description-2
      h2 Description 2
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sed, quod. Molestiae voluptatum dignissimos quibusdam quidem placeat, qui nihil autem.
      
    .description#description-3
      h2 Description 3
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sed, quod. Molestiae voluptatum dignissimos quibusdam quidem placeat, qui nihil autem.
      
    .description#description-4
      h2 Description 4
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sed, quod. Molestiae voluptatum dignissimos quibusdam quidem placeat, qui nihil autem.
    .description#description-5
      h2 Description 5
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sed, quod. Molestiae voluptatum dignissimos quibusdam quidem placeat, qui nihil autem.