%nav
  %ul
    - (1..16).each do |i|
      %li
        %a{href: "#section#{i}"} Section #{i}
        
%article
  - (1..16).each do |i|
    %section
      %header
        %h2{id: "section#{i}"} Section #{i}
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eius tenetur praesentium, rerum quis. Vitae in ipsa, cum saepe obcaecati inventore suscipit? Molestiae hic quisquam quos est tempora obcaecati id!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eius tenetur praesentium, rerum quis. Vitae in ipsa, cum saepe obcaecati inventore suscipit? Molestiae hic quisquam quos est tempora obcaecati id!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eius tenetur praesentium, rerum quis. Vitae in ipsa, cum saepe obcaecati inventore suscipit? Molestiae hic quisquam quos est tempora obcaecati id!      