html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar;
    overflow-y: scroll;
}
*,*::before,*::after{
    box-sizing:inherit;
}
body{
    margin: 0;
}
.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    padding: .6em;
    flex-grow: 1;
}

footer{
    background: #000;
    height: 50px;
}

footer sub{
    color: #fff;
}

/* main navigation styling  */
.button-container{ 
    height: 35px;
    width: 35px;    
    position: fixed;
    top: 2%;
    right: 2%;  
    cursor: pointer;
    z-index: 100;
    
}

.button-container span{
    background: pink;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .7s;
}

.button-container.active span{
    background: #fff;
}


.button-container span:nth-child(2){
    top: 11px;
}

.button-container span:nth-child(3){
    top: 22px;
}


.button-container.active .top-button{
    transform: translateX(0) rotate(-45deg) translateY(17px);
}

.button-container.active .mid-button{
    /* transform: translateX(0) rotate(-45deg) translateY(23%); */
    opacity: 0;
}

.button-container.active .bottom-button{
    transform: translateX(3px) rotate(45deg) translateY(-13px);
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* overlay styling */

.overlay{
    position: fixed;
    background: pink;
    width: 100%;
    top: 0;
    left: 0;
    height: 0%;
    transition: .3s all ease-in-out;
    z-index: 99;
    visibility: hidden;
    overflow: hidden;
}

.overlay.open{
    height: 100%;
    visibility: visible;
    opacity: .97;
}

.overlay ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.overlay li{
    flex-grow: .09;
    font-size: 3rem;
    opacity: 0;
}

.overlay ul li {
    position: relative;
    opacity: 0;
}

.overlay.open li {
animation: fadeInRight .5s ease forwards;
animation-delay: .35s;
}

.overlay.open li:nth-child(2){
    animation-delay: .45s;
}

.overlay.open li:nth-child(3){
    animation-delay: .5s;
}

.overlay.open li:nth-child(4){
    animation-delay: .55s;
}


@keyframes fadeInRight {
    0% {
      opacity: 0;
      top: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/180910-banner-image.jpg');
    height: 520px;
    overflow: hidden;
    background-size: contain;
}

.hero-image h1{
    position: relative;
    padding-top: 5em;
    color: #fff;
    text-align: center;
}
  
.sub-nav{
    padding-top: 1em;
    padding-bottom: 1em;
}

.sub-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Maps styling */

.maps{
    display: flex;
    flex-direction: row;
}

.section-left{
    max-width: 33%;
}

.section-middle{
    max-width: 33%;
    align-self: center;
}

.section-right {
    max-width: 33%;
}

.maps .section-middle img{
    max-width: 100%;
    padding: 1em;
}

/* Food styling */

.food-list{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.food-item{
    margin: 0 10px 0 10px;
}

.food-list.hidden{
    display: none;
}



/* Form styling */

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: rgba(19, 35, 47, 0.9);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 40px;
    font-family: 'Titillium Web', sans-serif;
}

.form .tab-group{
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-flow: row nowrap;
    width: 100%;
}

.form .tab-group li{
    flex: 1;
    padding: 5px;
}

.tab.active a{
    background: #1ab188;
    color: #fff;
}

.tab-group li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    width: 100%;
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.top-row {
    display: flex;
    width: 100%;
}

.top-row .field-wrap{
    flex: 1;
    padding: 0 5px 0 0;
    position: relative;
}

.login{
    width: 100%;
    flex: 1;
}

.field-wrap input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.tab-content {
    max-width: 600px;
    width: 100%;
}

.tab-content h1{
    color: #fff;
    margin: 0;
    margin-bottom: .6em;
    text-align: center;
    font-weight: 300;
}

.field-wrap{
    margin-top: 40px;
    position: relative;
}

.field-wrap label {
    position: absolute;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

.field-wrap label .req {
    margin: 2px;
    color: #1ab188;
}
  
.field-wrap label.active {
    -webkit-transform: translateY(-34px);
            transform: translateY(-34px);
    left: 0px;
    font-size: 14px;
}
.field-wrap label.active .req {
    opacity: 0;
}
  
.field-wrap label.highlight {
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}