html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar;
    overflow-y: scroll;
}
*,*::before,*::after{
    box-sizing:inherit;
}
body{
    margin: 0;
}
.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    padding: 0 .6em .6em .6em;
    flex-grow: 1;
    background: #262626;
}

footer{
    background: #000;
    height: 50px;
}

footer sub{
    color: #fff;
}

.header-sticky{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    max-width: 100%;
    width: 100%;
    z-index: 10;
    height: 100px;
    display: flex;
    /* align-content: center;s */
}

.header-sticky-blurry{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    background: url('/img/180913-swag-banner-1.jpg');
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.header-sticky h1{
    color: #fff;
}

.header-sticky img{
    padding: 15px;
    width: 8%;
    align-self: center;
    
}

/* main navigation styling  */
.button-container{ 
    height: 35px;
    width: 35px;    
    position: fixed;
    top: 4%;
    right: 2%;  
    cursor: pointer;
    z-index: 100;
    
}

.button-container span{
    background: #fff;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .7s;
}

.button-container.active span{
    background: #fff;
}


.button-container span:nth-child(2){
    top: 11px;
}

.button-container span:nth-child(3){
    top: 22px;
}


.button-container.active .top-button{
    transform: translateX(0) rotate(-45deg) translateY(17px);
}

.button-container.active .mid-button{
    /* transform: translateX(0) rotate(-45deg) translateY(23%); */
    opacity: 0;
}

.button-container.active .bottom-button{
    transform: translateX(3px) rotate(45deg) translateY(-13px);
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* overlay styling */

.overlay{
    position: fixed;
    background: #000;
    width: 100%;
    top: 0;
    left: 0;
    height: 0%;
    transition: .3s all ease-in-out;
    z-index: 12;
    visibility: hidden;
    overflow: hidden;
}

.overlay.open{
    height: 100%;
    visibility: visible;
    opacity: .97;
}

.overlay ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.overlay li{
    flex-grow: .09;
    font-size: 3rem;
    opacity: 0;
}

.overlay ul li {
    position: relative;
    opacity: 0;
}

.overlay ul li a{
    color: #fff;
    text-decoration: none;
}

.overlay.open li {
animation: fadeInRight .5s ease forwards;
animation-delay: .35s;
}

.overlay.open li:nth-child(2){
    animation-delay: .45s;
}

.overlay.open li:nth-child(3){
    animation-delay: .5s;
}

.overlay.open li:nth-child(4){
    animation-delay: .55s;
}


@keyframes fadeInRight {
    0% {
      opacity: 0;
      top: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
}

.hero-image{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/180913-swag-banner-1.jpg'); */
    background: url('/img/180913-swag-banner-1.jpg');
    height: 620px;
    overflow: hidden;
    background-size: cover;
}

.hero-image h1{
    position: relative;
    padding-top: 5em;
    color: #fff;
    text-align: center;
}

.sub-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
}

.sub-nav ul li{
    align-self: center;
    position: relative;
    padding: 2.6rem 0;
}

.sub-nav ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
}
  
.sticky + .content {
    padding-top: 60px;
}

.sub-nav nav ul li.active::after{
    transition:.25s cubic-bezier(0.39,0.575,0.565,1);
    content:" ";
    /* display:block; */
    width:100%;
    position:absolute;
    bottom:0;
    right:0;
    height:.25rem;
    background-color:#ee2a2a;
    opacity: 1;
}


/* Maps styling */

.maps{
    display: flex;
    flex-direction: row;
}

.section-left{
    max-width: 33%;
}

.section-middle{
    max-width: 33%;
    align-self: center;
}

.section-right {
    max-width: 33%;
}

.maps .section-middle img{
    max-width: 100%;
    padding: 1em;
}

/* Food styling */

.food-list{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

.food-item{
    margin: 0 10px 0 10px;
}

.food-item img{
    width: 300px;
    height: auto;
}

.food-list.hidden{
    display: none;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}



/* Form styling */

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: rgba(19, 35, 47, 0.9);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 40px;
    font-family: 'Titillium Web', sans-serif;
}

.form .tab-group{
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-flow: row nowrap;
    width: 100%;
}

.form .tab-group li{
    flex: 1;
    padding: 5px;
}

.tab.active a{
    background: #1ab188;
    color: #fff;
}

.tab-group li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    width: 100%;
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.top-row {
    display: flex;
    width: 100%;
}

.top-row .field-wrap{
    flex: 1;
    padding: 0 5px 0 0;
    position: relative;
}

.login{
    width: 100%;
    flex: 1;
}

.field-wrap input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.tab-content {
    max-width: 600px;
    width: 100%;
}

.tab-content h1{
    color: #fff;
    margin: 0;
    margin-bottom: .6em;
    text-align: center;
    font-weight: 300;
}

.field-wrap{
    margin-top: 40px;
    position: relative;
}

.field-wrap label {
    position: absolute;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

.field-wrap label .req {
    margin: 2px;
    color: #1ab188;
}
  
.field-wrap label.active {
    -webkit-transform: translateY(-34px);
            transform: translateY(-34px);
    left: 0px;
    font-size: 14px;
}
.field-wrap label.active .req {
    opacity: 0;
}
  
.field-wrap label.highlight {
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}