html
  body
    .container
      h1 Click The Menu
      p Be Amazed
      // Everything below this is part of the menu
    #toggle.button_container
      span.top
      span.middle
      span.bottom
    #overlay.overlay
      nav.overlay-menu
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Work
          li
            a(href='#') Contact
